<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-button color="primary" (click)='sqliteCreate()'>EXISTS</ion-button>
    <ion-button color="secondary" (click)='sqlInsertData()'>Insert</ion-button>
    <ion-button color="tertiary" (click)='sqlSelectData()'>Select</ion-button>
    <p>
     {{selectData}}
    </p>
  </div>
</ion-content>
